#!/usr/bin/env python3

repo_path = '/home/git/misp-usage-statistics'
all = {
    'DIR_HTML': f'{repo_path}/html/',
    'stat_download_location': '/assets/files/data.tar.gz', # relative URL from which the stat can be downloaded
    'geolocation_path': 'geolocation/2022-03-15-GeoOpen-Country.mmdb',
    'start_year': 2019,
}

misp = {
    'baseurl': 'https://misp.test',
    'authkey': '*****',
    'MISP.host_org': 'CIRCL',
    'DIR': f'{repo_path}/data/misp/',
    'DIR_HTML': f'{repo_path}/html/misp/',
}
